body{
	background-color: #333;
	min-width: 400px;
	height: 100%;
	width: 100%;
}


.navbar{
	width: 100%;
}
.container{
	height: 100%;
}
.content{
	margin-top:80px; 
	background-color: #ccc;
	min-height: 400px;
	height: 80%;

}
.content>div.row>div>div{
	
}

.link_show{
	padding: 10px 3px;
}
.link_items{
	list-style-type: none;
	padding: 0px;
	margin: 0 auto;
}
.link_item{
	height: 50px;
	margin-top: 5px;
}
.link{
	margin: 0 auto;
	width: 80%;
	height: 80%;
	line-height: 40px;
	font-size: 24px;
	text-align: center;
	display:block;
}
.link:hover{
	text-decoration: none;
}
.image_show{

	width: 100%;
	height: 500px;
}
.image_show>object{
	width: 100%;
	height: 100%;
}


/*test*/
.button {
	/* float: left; */
	/* min-width: 150px;
	max-width: 250px; */
	display: block;
	/* margin: 1em;
	padding: 1em 2em; */
	border: none;
	background: none;
	color: inherit;
	vertical-align: middle;
	position: relative;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
}
.button:focus {
	outline: none;
}
.button--round-l {
	border-radius: 40px;
}
.button--text-thick {
	font-weight: 600;
}
/* Wapasha */
.button.button--wapasha {
	background: #37474f;
	color: #fff;
	-webkit-transition: background-color 0.3s, color 0.3s;
	transition: background-color 0.3s, color 0.3s;
}
.button--wapasha.button--inverted {
	background: #fff;
	color: #37474f;
}
.button--wapasha::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 2px solid #3f51b5;
	z-index: -1;
	border-radius: inherit;
	opacity: 0;
	-webkit-transform: scale3d(0.6, 0.6, 1);
	transform: scale3d(0.6, 0.6, 1);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--wapasha.button--inverted::before {
	border-color: #7986cb;
}
.button--wapasha:hover {
	background-color: #fff;
	color: #3f51b5;
}
.button--wapasha.button--inverted:hover {
	background-color: #aaa;
	color: #7986cb;
}
.button--wapasha:hover::before {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	opacity: 1;
}
